@using smashing72_manager.Models
@model Content
@{
    var list = (List<Content>)ViewBag.List;
}

@Html.Partial("_SectionsList")
@Html.Partial("_ContentList", list)
<div class="content-form">
    <div class="title">Editor</div>
    <form method="post">
        <table>
            <tr>
                <td>Menu titel</td>
                <td><input type="text" name="MenuTitle" value="@Model.MenuTitle" /></td>
            </tr>
            <tr>
                <td>Url</td>
                <td>http://www.smashing72.nl/@(Model.ParentContentId.HasValue ? Model.Parent.UrlSegment + "/" : "")<input type="text" name="UrlSegment" value="@Model.UrlSegment" /></td>
            </tr>
            <tr>
                <td>
                    Soort item
                </td>
                <td>
                    <select name="DataType">
                        <option value="MenuItem" @(Model.DataType == "MenuItem" ? "selected=\"selected\"" : "")>Menu item (zonder echte pagina)</option>
                        <option value="ContentPage" @(Model.DataType == "ContentPage" ? "selected=\"selected\"" : "")>Content pagina</option>
                        <option value="TeamPage" @(Model.DataType == "TeamPage" ? "selected=\"selected\"" : "")>Team pagina</option>
                        <option value="HomePage" @(Model.DataType == "HomePage" ? "selected=\"selected\"" : "")>Home pagina</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Toon in menu</td>
                <td><select name="ShowInMenu"><option @(Model.ShowInMenu ? "selected=\"selected\"" : "") value="true">Yes</option><option value="false" @(!Model.ShowInMenu ? "selected=\"selected\"" : "")>No</option></select></td>
            </tr>
            <tr>
                <td>Volgorde</td>
                <td><input type="number" name="MenuOrder" value="@Model.MenuOrder" /></td>
            </tr>
            <tr>
                <td>Parent</td>
                <td><input type="number" name="ParentContentId" value="@Model.ParentContentId" /></td>
            </tr>
            <tr>
                <td>Pagina titel</td>
                <td><input type="text" name="Title" value="@Model.Title" /></td>
            </tr>
            <tr>
                <td>Content</td>
                <td><textarea name="HtmlData.Html" cols="80" rows="20">@Html.Raw(Model.HtmlData != null ? Model.HtmlData.Html : "")</textarea></td>
            </tr>
            <tr>
                <td>Save</td>
                <td><input type="submit" name="submit" /></td>
            </tr>
        </table>
        <input type="hidden" name="Id" value="@Model.Id" />
        <input type="hidden" name="HtmlDataId" value="@Model.HtmlDataId" />
        <input type="hidden" name="HtmlData.Id" value="@Model.HtmlDataId" />
    </form>
</div>
<script>tinymce.init({ selector: 'textarea' });</script>